{{set . "title" "Hall"}}
{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">Login as <strong id="userName">{{.user}}</strong></div>
    <div class="col-xs-6 col-md-4">
    </div>
  </div>
</div>

<p></p>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p><button type="submit" class="btn btn-primary btn-lg" id="btn-test">test</button><p>
      <p><a href="/">Leave the hall</a></p>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body" id="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/public/js/hall/hall.js" type="text/javascript" charset="utf-8"></script>
