{{set . "title" "Hall"}}
{{template "header.html" .}}

<h1 user={{.user}}>You are now chatting as {{.user}}
  <a href="/">Leave the hall</a></h1>

<div id="thread">
  <script type="text/html" id="message_tmpl">
    <!--
    <% if(event.Type == 'message') { %>
      <div class="message <%= event.User == '{{.user}}' ? 'you' : '' %>">
        <h2><%= event.User %></h2>
        <p>
          <%= event.Text %>
        </p>
      </div>
    <% } %>
    
    <% if(event == 'quit') { %>
      <div class="message important">
        <h2></h2>
        <p>
          You are now disconnected!
        </p>
      </div>
    <% } %>
    -->
    <% if(1) { %>
      <div class="message notice">
        <p>
          <%= data %>
        </p>
      </div>
    <% } %>
  </script>
</div>

<div id="newMessage">
  <input type="text" id="message" autocomplete="off" autofocus>
  <input type="submit" value="send" id="send">
</div>

<script src="/public/js/hall/chat.js" type="text/javascript" charset="utf-8"></script>
