{{set . "title" "claw-cgp"}}
{{template "header.html" .}}

<div class="container">

  <h2>Claw CGP, Sign in!</h2>

  <div id="signin">
    <form action="{{url "App.SignIn"}}">
      {{if .flash.error}}
        <p class="error">
          {{.flash.error}}
        <p>
      {{end}}
      <p>
        <label for="nick">Choose a nick name</label>
        <input type="text" name="user" id="user">
      </p>
      <p>
        <label></label>
        <button type="submit" class="btn btn-primary btn-sm" id="enter">Enter the hall</button>
      </p>
    </form>
  </div>

</div>

{{template "footer.html" .}}
